In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC

In [4]:
df = pd.read_csv('iris_dataset.csv')
df

     SepalLength  SepalWidth  PetalLength  PetalWidth       Name
0            5.1         3.5          1.4         0.2     setosa
1            4.9         3.0          1.4         0.2     setosa
2            4.7         3.2          1.3         0.2     setosa
3            4.6         3.1          1.5         0.2     setosa
4            5.0         3.6          1.4         0.2     setosa
..           ...         ...          ...         ...        ...
145          6.7         3.0          5.2         2.3  virginica
146          6.3         2.5          5.0         1.9  virginica
147          6.5         3.0          5.2         2.0  virginica
148          6.2         3.4          5.4         2.3  virginica
149          5.9         3.0          5.1         1.8  virginica

[150 rows x 5 columns]

In [14]:
data = df.iloc[:,0:4]
label = df['Name']

In [15]:
d_train, d_test, l_train, l_test = train_test_split(data, label, test_size=0.3, stratify=label)

In [19]:
d_train.count()

SepalLength    105
SepalWidth     105
PetalLength    105
PetalWidth     105
dtype: int64

In [18]:
d_test.count()

SepalLength    45
SepalWidth     45
PetalLength    45
PetalWidth     45
dtype: int64

In [20]:
l_train.count()

105

In [21]:
l_test.count()

45

In [22]:
d_train

     SepalLength  SepalWidth  PetalLength  PetalWidth
12           4.8         3.0          1.4         0.1
145          6.7         3.0          5.2         2.3
119          6.0         2.2          5.0         1.5
107          7.3         2.9          6.3         1.8
49           5.0         3.3          1.4         0.2
..           ...         ...          ...         ...
143          6.8         3.2          5.9         2.3
75           6.6         3.0          4.4         1.4
18           5.7         3.8          1.7         0.3
63           6.1         2.9          4.7         1.4
33           5.5         4.2          1.4         0.2

[105 rows x 4 columns]

In [23]:
l_train

12         setosa
145     virginica
119     virginica
107     virginica
49         setosa
          ...
143     virginica
75     versicolor
18         setosa
63     versicolor
33         setosa
Name: Name, Length: 105, dtype: object