In [1]:
import pandas as pd
import numpy as np
from sklearn.svm import SVC
from sklearn.model_selection import cross_val_score

In [2]:
df = pd.read_csv('train.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [3]:
df['Sex'] = df['Sex'].map({'male':0, 'female':1})

In [5]:
np.mean(df['Age'])

29.69911764705882

In [6]:
df['Age'].fillna(np.mean(df['Age']), inplace=True)

In [7]:
df[df['Age'].isnull()]

Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []

In [8]:
data1 = df[['Pclass', 'Sex', 'Fare']]
data2 = df[['Pclass', 'Sex', 'Age', 'Fare']]
label = df['Survived']

In [14]:
clf1 = SVC(C=10, gamma=10)
clf2 = SVC(C=10, gamma=10)

In [15]:
scores1 = cross_val_score(clf1, data1, label, cv=5)
scores2 = cross_val_score(clf2, data2, label, cv=5)
score1 = np.mean(scores1)
score2 = np.mean(scores2)
print(f"Ageなし: {score1:.3f}")
print(f"Ageあり: {score2:.3f}")

Ageなし: 0.791
Ageあり: 0.637