In [11]:
import pandas as pd
from sklearn.model_selection import cross_val_score
from sklearn.svm import SVC
import numpy as np

In [2]:
df = pd.read_csv('iris_dataset.csv')
df

     SepalLength  SepalWidth  PetalLength  PetalWidth       Name
0            5.1         3.5          1.4         0.2     setosa
1            4.9         3.0          1.4         0.2     setosa
2            4.7         3.2          1.3         0.2     setosa
3            4.6         3.1          1.5         0.2     setosa
4            5.0         3.6          1.4         0.2     setosa
..           ...         ...          ...         ...        ...
145          6.7         3.0          5.2         2.3  virginica
146          6.3         2.5          5.0         1.9  virginica
147          6.5         3.0          5.2         2.0  virginica
148          6.2         3.4          5.4         2.3  virginica
149          5.9         3.0          5.1         1.8  virginica

[150 rows x 5 columns]

In [3]:
data1 = df[['SepalLength', 'SepalWidth']]
data2 = df[['PetalLength', 'PetalWidth']]
label = df['Name']

In [6]:
clf1 = SVC(C=1, gamma=0.01)
clf2 = SVC(C=1, gamma=0.01)

In [7]:
type(clf1)

sklearn.svm._classes.SVC

In [8]:
clf3 = clf2

In [19]:
scores1 = cross_val_score(clf1, data1, label, cv=5)
scores2 = cross_val_score(clf2, data2, label, cv=5)

In [20]:
m_score1 = np.mean(scores1)
m_score2 = np.mean(scores2)

In [21]:
print(f"Mean score1 = {m_score1:.3f}")
print(f"Mean score2 = {m_score2:.3f}")

Mean score1 = 0.760
Mean score2 = 0.960

cross_val_scoreはデフォルトでシャッフルをしない。
シャッフルさせるには、StratifiedKFold(あるいはKFold)で明示的にshuffle=Trueを指定し、(教師データ、正解ラベル)のインデックスを作成し、cvに指定する。

In [22]:
from sklearn.model_selection import StratifiedKFold

In [35]:
kfold = StratifiedKFold(n_splits=5, shuffle=True, random_state=0)

In [36]:
scores2_random = cross_val_score(clf2, data2, label, cv=kfold)

In [37]:
m_score2_r = np.mean(scores2_random)

In [38]:
print(m_score2_r)

0.9666666666666668

In [39]:
type(kfold)

sklearn.model_selection._split.StratifiedKFold

In [40]:
print(kfold)

StratifiedKFold(n_splits=5, random_state=0, shuffle=True)