In [14]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
import numpy as np

In [2]:
df = pd.read_csv('iris_dataset.csv')
df

     SepalLength  SepalWidth  PetalLength  PetalWidth       Name
0            5.1         3.5          1.4         0.2     setosa
1            4.9         3.0          1.4         0.2     setosa
2            4.7         3.2          1.3         0.2     setosa
3            4.6         3.1          1.5         0.2     setosa
4            5.0         3.6          1.4         0.2     setosa
..           ...         ...          ...         ...        ...
145          6.7         3.0          5.2         2.3  virginica
146          6.3         2.5          5.0         1.9  virginica
147          6.5         3.0          5.2         2.0  virginica
148          6.2         3.4          5.4         2.3  virginica
149          5.9         3.0          5.1         1.8  virginica

[150 rows x 5 columns]

In [3]:
data = df.iloc[:,0:4]
label = df['Name']

In [4]:
train_d, test_d, train_l, test_l = train_test_split(data, label, test_size=0.3, stratify=label)

In [5]:
clf = SVC()
clf.fit(train_d, train_l)
pred = clf.predict(test_d)
score = accuracy_score(pred, test_l)

In [7]:
print("Default parameter : %d%%." % (score*100))

Default parameter : 97%.

In [106]:
C_list = [0.01, 0.1, 1, 10, 100]
gamma_list = [0.01, 0.1, 1, 10, 100]
score_mat = np.empty((0,3), dtype=np.int)

In [118]:
best_score = 0
for C in C_list:
    for gamma in gamma_list:
        clf = SVC(C=C, gamma=gamma)
        clf.fit(train_d, train_l)
        score = clf.score(test_d, test_l)
        score_mat = np.append(score_mat, [[score, C, gamma]], axis=0)
        if score > best_score:
            best_score = score
            best_parameter = [C, gamma]

In [120]:
best_score

1.0

In [123]:
print("Best score is {:.3f}" .format(best_score))
print("Best parameters : C={} gamma={}" .format(best_parameter[0],best_parameter[1]))

Best score is 1.000
Best parameters : C=1 gamma=1

In [108]:
score_mat

array([[9.55555556e-01, 1.00000000e-02, 1.00000000e-02],
       [9.55555556e-01, 1.00000000e-02, 1.00000000e-01],
       [9.77777778e-01, 1.00000000e-02, 1.00000000e+00],
       [7.55555556e-01, 1.00000000e-02, 1.00000000e+01],
       [3.55555556e-01, 1.00000000e-02, 1.00000000e+02],
       [9.55555556e-01, 1.00000000e-01, 1.00000000e-02],
       [9.55555556e-01, 1.00000000e-01, 1.00000000e-01],
       [9.77777778e-01, 1.00000000e-01, 1.00000000e+00],
       [7.55555556e-01, 1.00000000e-01, 1.00000000e+01],
       [3.55555556e-01, 1.00000000e-01, 1.00000000e+02],
       [9.33333333e-01, 1.00000000e+00, 1.00000000e-02],
       [9.77777778e-01, 1.00000000e+00, 1.00000000e-01],
       [1.00000000e+00, 1.00000000e+00, 1.00000000e+00],
       [9.55555556e-01, 1.00000000e+00, 1.00000000e+01],
       [5.11111111e-01, 1.00000000e+00, 1.00000000e+02],
       [9.77777778e-01, 1.00000000e+01, 1.00000000e-02],
       [9.77777778e-01, 1.00000000e+01, 1.00000000e-01],
       [9.77777778e-01, 1.00000000e+01, 1.00000000e+00],
       [9.55555556e-01, 1.00000000e+01, 1.00000000e+01],
       [5.33333333e-01, 1.00000000e+01, 1.00000000e+02],
       [9.77777778e-01, 1.00000000e+02, 1.00000000e-02],
       [9.77777778e-01, 1.00000000e+02, 1.00000000e-01],
       [9.77777778e-01, 1.00000000e+02, 1.00000000e+00],
       [9.55555556e-01, 1.00000000e+02, 1.00000000e+01],
       [5.33333333e-01, 1.00000000e+02, 1.00000000e+02]])

In [115]:
max_score = score_mat[np.argmax(score_mat[:,0])]

In [116]:
print("Max score is %d%%." % (max_score[0]*100))
print("C : %d" % max_score[1])
print("gamma : %d" % max_score[2])

Max score is 100%.
C : 1
gamma : 1

In [82]:
a

array([[3., 4., 5.],
       [3., 4., 5.]])