In [1]:
import pandas as pd
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_csv('iris_dataset.csv')
df

     SepalLength  SepalWidth  PetalLength  PetalWidth       Name
0            5.1         3.5          1.4         0.2     setosa
1            4.9         3.0          1.4         0.2     setosa
2            4.7         3.2          1.3         0.2     setosa
3            4.6         3.1          1.5         0.2     setosa
4            5.0         3.6          1.4         0.2     setosa
..           ...         ...          ...         ...        ...
145          6.7         3.0          5.2         2.3  virginica
146          6.3         2.5          5.0         1.9  virginica
147          6.5         3.0          5.2         2.0  virginica
148          6.2         3.4          5.4         2.3  virginica
149          5.9         3.0          5.1         1.8  virginica

[150 rows x 5 columns]

In [3]:
data = df.iloc[:,0:4]
data

     SepalLength  SepalWidth  PetalLength  PetalWidth
0            5.1         3.5          1.4         0.2
1            4.9         3.0          1.4         0.2
2            4.7         3.2          1.3         0.2
3            4.6         3.1          1.5         0.2
4            5.0         3.6          1.4         0.2
..           ...         ...          ...         ...
145          6.7         3.0          5.2         2.3
146          6.3         2.5          5.0         1.9
147          6.5         3.0          5.2         2.0
148          6.2         3.4          5.4         2.3
149          5.9         3.0          5.1         1.8

[150 rows x 4 columns]

In [4]:
label = df['Name']
label

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: Name, Length: 150, dtype: object

In [5]:
type(label)

pandas.core.series.Series

In [11]:
train_d, test_d, train_l, test_l = train_test_split(data, label, test_size=0.3, stratify=label)

In [12]:
train_d.count()

SepalLength    105
SepalWidth     105
PetalLength    105
PetalWidth     105
dtype: int64

In [13]:
train_l.count()

105

In [14]:
clf = SVC()
clf.fit(train_d, train_l)

SVC()

In [15]:
pred = clf.predict(test_d)
pred

array(['virginica', 'versicolor', 'versicolor', 'virginica', 'setosa',
       'setosa', 'setosa', 'virginica', 'setosa', 'versicolor',
       'virginica', 'virginica', 'versicolor', 'setosa', 'setosa',
       'virginica', 'setosa', 'versicolor', 'virginica', 'setosa',
       'virginica', 'versicolor', 'virginica', 'setosa', 'setosa',
       'virginica', 'versicolor', 'versicolor', 'setosa', 'virginica',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'virginica', 'setosa',
       'setosa', 'virginica', 'setosa', 'setosa', 'virginica',
       'virginica'], dtype=object)

In [29]:
score = accuracy_score(pred, test_l)
print("Accuracy score is %d%%." % (score * 100))

Accuracy score is 95%.