In [1]:
ls

2019archive/
Untitled.ipynb
iris_dataset.csv
iris_dataset.xlsx
task200528_iris統計量表示.ipynb
task200528_xlsx読み込み.ipynb
task200529_iris平均値表示.ipynb
task200601_Irisデータヒストグラム表示.ipynb
task200602_iris散布図.ipynb
task200604_iris相関係数.ipynb
task200605_学習データ分割.ipynb
task200608_SVMでの予測.ipynb
task200609_SVMパラメータCを調整.ipynb
task200610_SVMパラメータgamma調整.ipynb
task200611_分類器を3つ作成.ipynb
task200612_複数テストデータ比較.ipynb
task200615_複数テストデータ比較2.ipynb
task200616_Cとガンマを変えて評価.ipynb
task200617_SVMパラメータ変更.ipynb
task200618_クロスバリデーション.ipynb
task200619_2つのデータセットで評価比較.ipynb
task200624_タイタニックSVM,ランダムフォレスト.ipynb
task200625_タイタニック回帰分析でAgeを補間.ipynb
task200629_グリッドサーチ.ipynb
task200630_ガンマパラメータ調整.ipynb
task200701_正誤表作成、比較.ipynb
task200702_予測失敗データをCSV出力.ipynb
task200706_Age平均値補間.ipynb
task200707_Ageガウス分布で補間.ipynb
task200709_性別ランダムに書き換え.ipynb
test_d_f.csv
train.csv
勉強会発表資料200623.ipynb

In [7]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [5]:
df = pd.read_csv('iris_dataset.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SepalLength  150 non-null    float64
 1   SepalWidth   150 non-null    float64
 2   PetalLength  150 non-null    float64
 3   PetalWidth   150 non-null    float64
 4   Name         150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [6]:
data = df[['SepalLength', 'SepalWidth', 'PetalLength', 'PetalWidth']]
label = df['Name']

In [8]:
train_d, test_d, train_l, test_l = train_test_split(data, label, test_size=0.3)

In [25]:
clf = KMeans(n_clusters=3)
model = clf.fit(data)

In [26]:
model.labels_

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2, 2, 2, 2, 1, 2, 2, 2,
       2, 2, 2, 1, 1, 2, 2, 2, 2, 1, 2, 1, 2, 1, 2, 2, 1, 1, 2, 2, 2, 2,
       2, 1, 2, 2, 2, 2, 1, 2, 2, 2, 1, 2, 2, 2, 1, 2, 2, 1], dtype=int32)

labelを0,1,2に変換

In [20]:
label = df['Name'].map({'setosa':0, 'versicolor':1, 'virginica':2})
label

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: Name, Length: 150, dtype: int64

In [27]:
score = accuracy_score(model.labels_, label)
print(f"正解率: {score*100:.3f}%")

正解率: 89.333%